:root.theme-dark {
  --font-family-mono: "IBM Plex Mono", monospace;

  /* Цвета */
  --background-color-fon: rgba(0, 0, 40, 1);
  --h1-color-background: rgba(219, 0, 255, 1);
  --h1-color-text-shadow: rgba(255, 0, 112, 1);
  --about-text-color: rgba(241, 178, 206, 1);
  --main-text-color: rgba(0, 0, 40, 1);
  --color-background-text: rgba(255, 0, 112, 1);
  --color-background-text-h: rgba(255, 0, 112, 1);

  /* Размеры шрифта */
  --font-size-base: 18px;
  --h1-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  /* Высота строки */
  --line-height-base: 23.4px;

  /* Фоновое изображение заголовка */
  --background-header: url(../images/cover-image-dark.png);
}

.theme-light .page {
  background-color: var(--background-color-fon);
}

.theme-light .hidden_rec::before {
  content: none;
  display: none;
}

.theme-light .hidden_rec::after {
  content: none;
  display: none;
}

.theme-light .shadow_link {
  text-shadow: -2px -2px 0 #f1b2ce;
}

.theme-light .header__theme-menu-button_type_light {
  outline: 1px solid var(--color-background-text-decor);
  outline-offset: -1px;
  width: 70px;
  height: 26px;
}

.theme-light .header__theme-menu-button_type_light:focus-visible {
  text-decoration: underline;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-background-text-decor);
  outline-offset: 1px;
}

.theme-light .header__theme-menu-button_type_dark {
  border: none;
}



