:root.theme-light {
  /* Цвета */
  --color-background: rgba(255, 141, 203, 1);
  --main-text-color: rgba(53, 52, 48, 1);
  --h1-color-background: rgba(255, 194, 230, 1);
  --about-text-color: rgba(53, 52, 48, 1);

  /* Фоновое изображение заголовка */
  --background-header: url(../images/cover-image-light.png);
}

.theme-light .hidden_rec::before {
  content: none;
  display: none;
}

.theme-light .hidden_rec::after {
  content: none;
  display: none;
}

.theme-light .shadow_link {
  text-shadow: -2px -2px 0 #f1b2ce;
}

.theme-light .header__theme-menu-button_type_light {
  outline: 2px solid var(--main-text-color);
  outline-offset: 2px;
  width: 70px;
  height: 26px;
}

.theme-light .header__theme-menu-button_type_light:focus-visible {
  text-decoration: underline;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--main-text-color);
  outline-offset: 1px;
}

.header__theme-menu-button_type_dark {
  border: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Цвета */
    --color-background: rgba(255, 141, 203, 1);
    --main-text-color: rgba(53, 52, 48, 1);
    --h1-color-background: rgba(255, 194, 230, 1);
    --about-text-color: rgba(53, 52, 48, 1);

    /* Фоновое изображение заголовка */
    --background-header: url(../images/cover-image-light.png);
  }
}
