.page {
  background-attachment: fixed;
  background-image: var(--background-header);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: var(--font-size-base);
  font-family: var(--font-family-mono), sans-serif;
  line-height: var(--line-height-base);
  background-color: var(--background-color-fon);
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  block-size: max(100dvb, 668px);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.hidden_rec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 13px;
}

.hidden {
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.hidden_rec::before {
  content: "REC";
  display: inline-block;
  color: var(--color-background-text);
}

.hidden_rec::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 6px;
  background-color: var(--color-background-text);
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 11px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-block-start: 1px solid var(--color-background-text);
  border-inline-end: 1px solid var(--color-background-text);
  inline-size: 25px;
  block-size: 25px;
  top: 0;
  right: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-block-end: 1px solid var(--color-background-text);
  border-inline-start: 1px solid var(--color-background-text);
  inline-size: 25px;
  block-size: 25px;
  bottom: 21px;
  left: 0px;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
}

.header__theme-menu-item {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--color-background-text);
  font-family: IBM Flex Mono, sans-serif;
  border: none;
  line-height: 18px;
  cursor: pointer;
  padding: 2px 17px 6px;
}

.header__theme-menu-button_type_auto {
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
  outline-offset: 1px;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--color-background-text-decor);
  color: var(--h1-color-background);
  font-family: var(--font-family-mono), sans-serif;
  line-height: 95.7px;
  margin-block-end: 58px;
  padding-top: 61px;
}

.title-decor {
  background-color: var(--color-background-text-h);
  font-size: var(--font-size-base);
  font-family: var(--font-family-mono), sans-serif;
  line-height: var(--line-height-base);
  font-weight: bold;
  align-items: start;
}

@media (min-width: 768px) {
  .hidden_rec {
    margin-top: 13px;
  }

  .hidden_rec::after {
    margin-right: 19px;
  }

  .decorated-zone::before {
    right: 10px;
    top: 12px;
  }

  .decorated-zone::after {
    left: 11px;
    bottom: -328px;
  }

  .header__theme-menu {
    margin-top: 133px;
    margin-right: 10px;
  }

  .title {
    font-size: var(--h1-font-size);
    margin-block-end: 165px;
    padding-top: 175px;
    margin-left: -11px;
  }
}

@media (min-width: 1024px) {
  .decorated-zone::after {
    left: 6px;
    bottom: -66px;
  }

  .header__theme-menu {
    justify-content: center;
    margin-top: -42px;
  }

  .header__theme-menu-item {
    list-style-type: none;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 14px;
  }

  .title {
    margin-block-end: 133px;
    padding-top: 292px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-decor {
    margin-right: 11px;
    margin-bottom: 80px;
  }
}

.main-title {
  padding-left: 9px;
  padding-right: 12px;
  margin-block-start: 1.7rem;
}

.main-list-2 {
  margin-top: 50px;
}

.title-list-item-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 22px;
}

.title-list-item-2 {
  display: grid;
  margin-top: 50px;
  gap: 21px;
  grid-template-columns: 1fr;
}

.title-list-item-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.headline {
  color: var(--color-background-text);
  font-weight: 400;
  font-size: var(--font-size-base);
}

.title__subtitle {
  background-color: var(--color-background-text-h);
  font-weight: 700;
  font-size: var(--font-size-base);
}

.headline__subtitle {
  background-color: var(--color-background-text-h);
  font-weight: 400;
  margin-block-start: -8px;
}

.about__text {
  color: var(--about-text-color);
  font-weight: 400;
  margin-top: -13px;
}

.shadow_link {
  text-shadow: -2px -2px 0 var(--color-background-text);
  text-decoration: none;
}

.shadow_link:hover {
  text-decoration: underline;
}

.shadow_link:focus-visible {
  outline: 2px solid #f1b2ce;
  outline-offset: 2px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.gallery_subtitle {
  margin-top: 51px;
}

@media (min-width: 768px) {
  .main-title {
    margin-top: 327px;
    padding-left: 41px;
    padding-right: 22px;
  }

  .title-list-item-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .title-list-item-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: -21px;
    margin-top: 82px;
  }

  .main-list-2 {
    margin-top: -30px;
  }

  .title-list-item-3 {
    display: grid;
    gap: 17px;
    grid-template-columns: repeat(3, 1fr);
  }

  .title__subtitle {
    grid-column: 5 / 2;
  }

  .gallery_subtitle {
    margin-top: 79px;
    margin-left: -20px;
  }

  .headline {
    grid-column: 1 / -1;
    inline-size: 236px;
  }

  .headline__subtitle {
    grid-column: 2 / 5;
    margin-top: -4px;
  }

  .title-decor {
    grid-column: 2 / 5;
  }

  .header > .title-decor:nth-of-type(1) {
    inline-size: 364px;
    align-self: flex-end;
    margin-right: 11px;
  }

  .about__text {
    grid-column: 2 / 5;
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .main-title {
    margin-top: 75px;
    padding-left: 29px;
    padding-right: 21px;
  }

  .main-list-2 {
    margin-top: 10px;
  }

  .title-list-item-1 {
    gap: 20px;
  }

  .title-list-item-2 {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    margin-left: -9px;
    margin-top: 93px;
  }

  .title-list-item-3 {
    gap: 14px;
  }

  .headline {
    min-width: 308px;
    margin-bottom: 0;
  }

  .headline-1 {
    margin-top: 14px;
  }

  .subtitle {
    grid-row: 2;
    grid-column: auto;
  }

  .about {
    grid-row: 3;
    grid-column: auto;
  }

  .about__text {
    margin-top: 0;
    margin-bottom: -13px;
  }

  .title-decor {
    margin-bottom: -10px;
  }

  .header > .title-decor:nth-of-type(1) {
    inline-size: 491px;
    align-self: flex-end;
    margin-right: 11px;
    margin-bottom: 80px;
  }

  .gallery_subtitle {
    margin-top: 94px;
    margin-left: -10px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
}

.gallery__item {
  margin: 0px;
  overflow: hidden;
}

.gallery__image {
  inline-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
    padding-right: 12px;
    padding-left: 20px;
    padding-top: 13px;
  }

  .gallery__image {
    height: 100%;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
  }
  .gallery__item:nth-child(2) {
    grid-column: 5 / span 2;
    grid-row: 1 / span 6;
  }
  .gallery__item:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 5 / span 3;
  }
  .gallery__item:nth-child(4) {
    grid-column: 3 / span 2;
    grid-row: 5 / span 2;
  }
  .gallery__item:nth-child(5) {
    grid-column: 3 / span 5;
    grid-row: 7 / span 1;
  }
}

.footer {
  display: grid;
  position: relative;
  justify-items: center;
  min-height: 100vh;
}

.decorated-zone-1::before {
  content: "";
  position: absolute;
  border-block-start: 1px solid var(--color-background-text-decor);
  border-inline-end: 1px solid var(--color-background-text-decor);
  inline-size: 25px;
  block-size: 25px;
  top: 17px;
  right: 11px;
}

.decorated-zone-1::after {
  content: "";
  position: absolute;
  border-block-end: 1px solid var(--color-background-text-decor);
  border-inline-start: 1px solid var(--color-background-text-decor);
  inline-size: 25px;
  block-size: 25px;
  bottom: 10px;
  left: 10px;
}

.footer-focus {
  font-size: var(--h1-font-size);
  color: var(--h1-color-background);
  font-family: var(--font-family-mono), sans-serif;
  font-weight: 700;
  line-height: 99px;
  margin-top: 286px;
  margin-bottom: 286px;
}

@media (min-width: 768px) {
  .decorated-zone-1::before {
    top: 66px;
    right: 20px;
  }

  .decorated-zone-1::after {
    bottom: 10px;
    left: 20px;
  }

  .footer-focus {
    margin-top: 508px;
    margin-bottom: 453px;
  }
}

@media (min-width: 1024px) {
  .decorated-zone-1::before {
    top: 68px;
    right: 20px;
  }

  .decorated-zone-1::after {
    bottom: -127px;
    left: 19px;
  }

  .footer-focus {
    margin-top: 381px;
    margin-bottom: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
